.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(226, 186, 186);
    min-height: 400px;
    width: 300px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 1px 2px 3px 4px rgba(22, 21, 21, 0.3);
    align-items: center;
    gap:10px;
    background: rgba(8, 8, 8, 0.4);

   
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: contain;

     /* filter: blur(0.8px); */
     /* -webkit-filter: blur(8px);      */
}
.containerHolder{
    background-image: url('../../assets/images/profile_background.jpg');
    border-radius: 10px;
    
}
.container span{
  
    font-weight: 600;
    font-size: x-large;
}
.container span:last-child{
    align-self: center;
    
}
.container span:last-child a button{
    color: aliceblue;
   font-size: large;
}

.container h1{
    font-size: 40px;
}